{% extends 'catalog/base.html' %}
{% load static %}
{% load media_dir %}
{% block head %}

<div class="col">
    <img src="{{ object.preview|media_dir }}" class="img-fluid" alt="image">
</div>

<div class="pricing-header px-3 py-3 pt-md-3 pb-md-1 mx-auto text-center">
    <h1 class="display-4">{{ object.title }}</h1>
</div>
{% endblock %}

{% block content %}
<main>

    <section class="text-center container">
        <div class="row ">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p class="lead text-body-secondary">{{ object.text }}</p>
            </div>
            <div class="card_footer">
                Просмотры: {{ object.views }}
            </div>
        </div>
    </section>

</main>
{% endblock %}
